.jobcard {
    width: 100%;
    max-width: 364px;
    max-width: 440px;
    background: #fff;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
}

/* Header */
.jobcard__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.jobcard__header__left{
    display: flex;

}
.jobcard__logo img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.jobcard__info {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    max-width: 165px;
}

.jobcard__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.jobcard__more{
    width: 22px;
    height: 5px;
    cursor: pointer;

}

.jobcard__location {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 10px;
    margin-top: 4px;
    color: #0062ff;
}

.jobcard__menu {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    padding: 4px;
    color: #666;
}

/* Middle info */
.jobcard__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    font-size: 12px;
    color: #151515;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}


.jobcard__grade,
.jobcard__worktype,
.jobcard__salary {
    font-size: 14px;
    font-weight: 600;
}

/* Description */
.jobcard__description {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.5rem;
    color: #555;
    margin-top: 4px;
}

/* Skills */
.jobcard__skills {
    display: flex;
     font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
}

.jobcard__skill-item {
    padding: 7px 17px;
    background: #F5F5F9;
    border-radius: 10px;
    font-size: 13px;
    color: #BABABA;
    font-weight: 500;
}

/* Bottom footer */
.jobcard__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.jobcard__date {
   font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #BABABA;
}

.jobcard__save {
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s;
}

.jobcard__save:hover {
    opacity: 1;
}
