.searchbar {
  display: flex;
  justify-content: flex-end; 
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.searchbar_container {
  display: flex;
  width: 100%; 
  max-width: 1300px;
}

.searchbar__input {
  flex: 1;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px 0 0 8px;
  outline: none;
  box-sizing: border-box;
}

.searchbar__button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 8px 8px 0;
  background-color: #0062FF;
  color: #EDEDEE
}